accelerate
codetiming
datasets
dill
hydra-core
numpy
flash-attn==2.8.3
pandas
peft
pyarrow>=15.0.0
pybind11
ray>=2.38
tensordict<0.6
transformers>=4.51
vllm>=0.20.0,<0.21
wandb
liger-kernel
pylatexenc
pyext
anthropic
math_verify